<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comptes coloc</title>


      <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="css/ng-animation.css">
    <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
  </head>

  <body>

    <div ng-app="colocApp">

<!-- add coloc -->

    <div  ng-controller="coloCtrl">
    <div class="contentAll">

        <nav>
        <ul>
            <li class="hvr-rectangle-out" ng-click="name=true; dep=false; tab=false; divHide=false"><i class="fa fa-child fa-3x"></i></li>
            <li class="hvr-rectangle-out" ng-click="dep=true; name=false; tab=false; divHide=false"><i class="fa fa-cart-plus fa-3x"></i></li>
            <li class="hvr-rectangle-out" ng-click="dep=true; name=false; tab=false; divHide=true"><i class="fa fa-commenting fa-3x"></i></li>
            <li class="hvr-rectangle-out" ng-click="dep=false; name=false; tab=true; divHide=false"><i class="fa fa-table fa-3x"></i></li>
        </ul>
        </nav>
    <div class="content-tab-form">
        <div class="slide-left"
                ng-if="name"
                >
        <h2>Ajouter un colocataire</h2>
            <hr>
        <form class="line"
                ng-submit="addColoc(coloc)"
                name="colocForm"
                novalidate>

          <div class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-child"></i></div>

                <input class="form-control text-capitalize"
                      type="text"
                      name="colocName"
                      placeholder="Nom du colocataire"
                      ng-model="coloc.name"
                      ng-required="true"
                >
              </div>
            </div>
            <button class="btn btn-primary"
                  type="submit"
                  name="button"
                  ng-model="addcoloc"
                  ng-disabled="colocForm.$invalid"
                  >Ajouter colocataire</button>

          </div>

        </form>
            <div class="message coloc-msg"
                 ng-show="colocForm.$submitted && colocForm.$valid"
            ><span class="text-capitalize">{{coloc.name}}</span> a été ajouté(e).

            </div>

        </div>
<!-- add money -->
    <div class="slide-left"
        ng-if="dep">
        <h2>Ajouter des dépenses</h2>
        <hr>
    <form class="line form-inline"
            ng-submit="addMoney(selName,buy); addType(selName,type); total(colocIndex, buy)"
            name="moneyForm"
            novalidate>

        <div class="form-group">
          <select class="form-control text-capitalize"
                  name="nameSelect"
                  ng-model="selName"
                  ng-required="true"
                  >
            <option ng-repeat="coloc in colocs"
                    value="{{$index}}"
                    >{{coloc.name}}

            </option>

          </select>
          <select class="form-control text-capitalize"
                 name="typeSelect"
                 ng-options="item for item in types"
                 ng-model="type"
                 ng-required="true"
                 >
         </select>


          <div class="input-group">



            <input class="form-control"
                  type="number"
                  name="colocBuy"
                  placeholder="Montant de la dépense"
                  ng-model="buy"
                  ng-pattern="/^[0-9]{1,7}$/"
                  ng-required="true"
                  >
                  <div class="input-group-addon"><i class="fa fa-eur"></i></div>
          </div>
        </div>



          <button class="btn btn-primary"
                  type="submit"
                  name="Moneybutton"
                  ng-model="addcoloc"
                  ng-disabled="moneyForm.$invalid"
                  >Ajouter dépense
          </button>





    </form>
        <div class="message money-msg"
             ng-show="moneyForm.$submitted && moneyForm.$valid"
                >La dépense a été ajoutée.

        </div>
    </div>
        <div  class="add-type slide-down"
              ng-if="divHide">

     <form class="form-inline"
        name="addTypeForm"
        ng-submit="addNewType(typeMe); divHide=false"

        >

      <input class="form-control"
        type="text"
        name="typeAddInput"
        placeholder="Déco, mobilier..."
         ng-model="typeMe"
        ng-required="true"
        >
      <button class="btn btn-warning"
        type="submit"
        name="typeAddButton"
          ng-disabled="addTypeForm.$invalid"
        >Ajouter nouveau type de dépense
      </button>
         <div class="message type-msg"
              ng-show="addTypeForm.$submitted && addTypeForm.$valid"
         >Le type de dépense ("<span class="text-capitalize">{{typeMe}}</span>") a été ajouté.

         </div>
     </form>

    </div>
    <!--<pre>{{somme}}</pre>-->
<!--<pre>{{types}}</pre>-->
<!--<pre>{{typeMe}}</pre>-->
    <!-- <pre>{{somme}}</pre> -->
    <!--<pre>{{ types | json }}</pre>-->
    <!--<pre>{{ colocs | json }}</pre>-->


<!-- tableau -->
        <div class="table-responsive slide-right"
                ng-if="tab">
            <figcaption>Tableau des dépenses</figcaption>
            <hr>
          <table class="table">
          <thead>
           <tr>
             <th>Nom</th>
             <th>Type de dépense</th>
             <th>Dépenses</th>
             <th>Total dépenses</th>
           </tr>
          </thead>
          <tbody >
           <tr ng-repeat="colox in colocs track by $index" class="success">
             <td class="text-capitalize bigger">{{colox.name}}</td>
             <td>
               <ul>
                 <li class="text-capitalize"
                         ng-repeat="typ in colox.type track by $index">
                  {{typ}}
                 </li>
               </ul>
             </td>
             <td>
               <ul>
                 <li class="text-capitalize slide-left"
                         ng-repeat="dep in colox.buy track by $index">
                  {{dep}}€
                 </li>
               </ul>
             </td>
             <td class="bigger">{{totalDepense($index)}}€</td>
           </tr>
          </tbody>
          </table>
        </div>
          </div>
    </div>
    </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="js/angular.coloc.js" charset="utf-8"></script>
  </body>
</html>
